<!DOCTYPE html>
<head>
<h3>Official Weather Api Documentation</h3>
<br>
</head>



<body>

    <ul>
        <li><strong>/api/all</strong>&nbsp;:&nbsp;This API endpoint delivers all weather data in JSON format.</li>
        <br>
        <li><strong>/api/videos</strong>&nbsp;:&nbsp;This API endpoint delivers all video uploads in base64 string format.</li>
        <br>
        <li><strong>/api/images</strong>&nbsp;:&nbsp;This API endpoint delivers all image uploads in base64 string format.</li>
    </ul>

</body>