<style>
    form {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 2rem;
      margin: 2rem auto;
      max-width: 500px;
      background-color: lightblue;
      border-radius: 10px;
      box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    }
  
    h2 {
      text-align: center;
      margin-bottom: 2rem;
      color: #555;
    }
  
    label {
      font-weight: bold;
      margin: 1rem 0 0.5rem 0;
      color: #555;
    }
  
    select,
    input[type="number"],
    textarea {
      width: 100%;
      padding: 0.5rem;
      border-radius: 5px;
      border: none;
      margin-bottom: 1rem;
      font-size: 1rem;
      color: #555;
      box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    }
  
    button[type="submit"] {
      background-color: #2196F3;
      color: #fff;
      padding: 0.5rem 1rem;
      border-radius: 5px;
      border: none;
      font-size: 1rem;
      cursor: pointer;
      transition: background-color 0.3s ease;
    }
  
    button[type="submit"]:hover {
      background-color: #0D47A1;
    }

    #loggy{
      position: absolute;
      top:2%;
      right:2%;
    }

    #uploader{
    margin: 20px;

    }
  </style>
  
  <h2>Enter weather data for cities</h2>
  
<form id="loggy" action="/logout" method="POST">
  <button type="submit">Logout</button>
</form>


  <form action="/weather" method="post">
    <label for="city">City:</label>
    <select name="city" id="city">
      <option value="toronto">Toronto</option>
      <option value="calgary">Calgary</option>
      <option value="montreal">Montreal</option>
      <option value="singapore">Singapore</option>
      <option value="mumbai">Mumbai</option>
      <option value="london">London</option>
      <option value="sydney">Sydney</option>
      <option value="reddeer">Red Deer</option>
    </select>
  
    <label for="temperature">Temperature (in Celsius):</label>
    <input type="number" id="temperature" name="temperature" required>
  
    <label for="humidity">Humidity:</label>
    <input type="number" id="humidity" name="humidity" required>
  
    <button type="submit">Submit</button>
  </form>

  <h2>Upload Weather Images</h2>
  <form action="/uploadphoto" enctype="multipart/form-data" method="POST">
    <label for="name">Name:</label>
    <input type="text" id="name" name="name" required><br><br>
    <label for="desc">Description:</label>
    <input type="text" id="desc" name="desc" required><br><br>
    <input type="file" name="myImage" accept="image/"><br><br>
    <input type="submit" value="Upload Photo">
  </form>
  <br>
  <h2>Upload Video</h2>
  <form action="/uploadvideo" enctype="multipart/form-data" method="POST">
    <label for="name">Name:</label>
    <input type="text" id="name" name="name" required><br><br>
    <label for="desc">Description:</label>
    <input type="text" id="desc" name="desc" required><br><br>
    <input type="file" name="myVideo" accept="video/*"><br><br>
    <input type="submit" value="Upload Video">
  </form>
  