<html>
<head>
<link rel="stylesheet" href="/style.css">
</head>
<body>
<center>
<h1 id="heading">User Register Form</h1>

<form action="/register" method="POST">

<label for="email">Email:</label>   
<input id="email" type="text" name="email" placeholder="Hello" required>

<label for="age">Age:</label>   
<input id="age" type="number" name="age"  required>

<label for="password">Password:</label>   
<input id="password" type="text" name="password" placeholder="Please enter a valid password."  required>



<button id="button" type="submit">Register</button>

</form>
</center>


</body>
</html>